<%- include("partials/header"); -%>
<br/>
<br>
<h1 style="text-shadow: 2px 2px 2px black">MOHD ATIR INSAF</h1>
<h3 >.M-78,Batla House, Jamia Nagar , Okhla ,New Delhi-110025</h3>
<br>
<br>
<h3 >Beginner in the field of web development having work experience of various frond-end and back-end projects.
    Skilled in React.js,Node.js,MongoDB and Redux (a global state management system for projects). 2019 passed out having a bachelor's
    degree (Btech). I like to stay in a challenging environment and have a lot of desperation towards work. </h3>
<hr/>
<br>
<br>
<br>
<h1 style="text-shadow: 2px 2px 2px black">EDUCATION</h1>
<h2>GURU GOBIND SINGH INDRAPRASTHA UNIVERSITY</h2>
<h4>BACHELOR OF TECHNOLOGY</h4>
<h4>Percentage:-83</h4>
<br>
<br>
<h2>JAMIA MILLIA ISLAMIA</h2>
<h4>12TH STANDARD</h4>
<h4>Percentage:-88</h4>
<br>
<br>
<h2>JAMIA MILLIA ISLAMIA</h2>
<h4>10TH STANDARD</h4>
<h4>Percentage:-86</h4>
<hr/>
<br>
<br>
<br>
<h1 style="text-shadow: 2px 2px 2px black">VARIOUS PROFILE LINKS</h1>
<h2>1.GITHUB LINK:-<a href="https://github.com/mohdatir-786">https://github.com/mohdatir-786</a></h2>
<h2>2.LINKEDIN LINK:-<a href="https://www.linkedin.com/in/mohd-atir-insaf-764622159/">
        https://www.linkedin.com/in/mohd-atir-insaf-764622159/</a></h2>
<h2>3.HACKER RANK LINK:-<a href="https://www.hackerrank.com/mohdatir1996">https://www.hackerrank.com/mohdatir1996</a></h2>
<hr/>
<br>
<br>
<br>
<h1 style="text-shadow: 2px 2px 2px black">VARIOUS CERTIFICATION LINKS</h1>
<h2>1.HackerRank certification for the javascript:-<a href="https://www.hackerrank.com/certificates/a1a2803581cc">
        https://www.hackerrank.com/certificates/a1a2803581cc</a></h2>
<h2>2.Modern React with Redux:-<a href="https://www.udemy.com/certificate/UC-22ee9ff9-d2b8-4d25-b05d-d8bab999827e/">
        https://www.udemy.com/certificate/UC-22ee9ff9-d2b8-4d25-b05d-d8bab999827e/</a></h2>
<h2>3.Web Development Bootcamp:-<a href="https://www.udemy.com/certificate/UC-6e36aae9-daf8-461e-b99a-0540361e8f39/">
        https://www.udemy.com/certificate/UC-6e36aae9-daf8-461e-b99a-0540361e8f39/</a></h2>
<hr/>
<br/>
<br/>
<br/>

<%- include("partials/footer"); -%>