<%- include("partials/header"); -%>
<h1 style="text-shadow: 2px 2px 2px black">1.Blog-Website</h1>
<h3>Jun 2020</h3>
<h3>This website is a blog website where user can write their blogs.
    Technologies used are:-Nodejs, Expressjs, Ejs tags, lodash library, HTML , CSS, etc</h3>
<h3>Project link:-<a href="https://blog-website1996.herokuapp.com">https://blog-website1996.herokuapp.com</a></h3>
<br>
<hr/>
<br>
<br>
<h1 style="text-shadow: 2px 2px 2px black">2.TodoList-Application</h1>
<h3>Jun 2020</h3>
<h3>This is a TodoList application where the user can add new items into the list.
    Technologies used:-Nodejs, Expressjs, Ejs tags, Html, CSS etc.</h3>
<h3>Project link:-<a href="https://todo-list-42018.herokuapp.com">https://todo-list-42018.herokuapp.com</a></h3>
<br>
<hr/>
<br>
<br>
<h1 style="text-shadow: 2px 2px 2px black">3.COVID-19</h1>
<h3>May 2020</h3>
<h3>This website will show statistics of different countries related to affected cases of covid-19.It has various pages as well...
    1. /login
    2. /userProfile
    3. /register
    Technologies used are mentioned below:-
    .React.js,Redux,Redux-forms,Chart.js,Axios to fetch data using various API's,Material-ui,Bootstrap..etc
    I just found a way in the form of this website making and somehow managed this lockdown period to get most out of it.</h3>
<h3>Project link:-<a href="http://maicovid19.herokuapp.com">http://maicovid19.herokuapp.com</a></h3>
<br>
<hr/>
<br>
<br>
<h1 style="text-shadow: 2px 2px 2px black">4.Youtube_browser web application</h1>
<h3>May 2020</h3>
<h3>It's a simple YouTube Browser application which i decided to make right at the starting of may 2020.This particular app helped me learn multiple features of ReactJS which is one of the famous library of JavaScript used for making interactive user interface for Front-end web development.I just gave it a try.It may have many flaws
    but i just made it to boost my confidence and learn more about ReactJS and front end web development.</h3>
<h3>Project link:-<a href="https://youtube-project1996.herokuapp.com/">https://youtube-project1996.herokuapp.com/</a></h3>
<br>
<hr/>
<br>
<br>

<%- include("partials/footer"); -%>