<%- include("partials/header"); -%>
<h1>1.Javascript</h1>
<h1>2.ReactJs</h1>
<h1>3.NodeJs</h1>
<h1>4.Data Structures and Algorithm in Javascript</h1>
<h1>5.HTML 5</h1>
<h1>6.CSS 3</h1>
<h1>7.Bootstrap</h1>
<h1>8.JQuery</h1>
<h1>9.MongoDB</h1>


<%- include("partials/footer"); -%>